@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Questrial&display=swap');


.in{
  height:100px;
}
.card{
  background:white;
  display:block;
  margin:auto;
  box-shadow:1px 1px 30px black;
  height:350px;

  width:500px;
  border-radius:10px;
  opacity: 100;
   opacity: 1;
  animation: fadein 1s linear;
}


@keyframes fadein {
  0%,100% { opacity: 0 }
  100% { opacity: 1 }
}

.cardhd{
  padding:25px;
  margin:0px;
}


.text{
  font-family: 'Questrial', sans-serif;
  width:25px;
  background:#ffcdd2;
  font-size:13px;
  display:grid;
  float:right;
  margin-right:50px;
}

.cardlf{
  background:#E8EAF6;
  display:grid;
  height:200px;
  width:150px;
  float:left;
  overflow:visible;
}
.cardhd{
  background:#E8EAF6;
  font-size:24px;
  color:#000000;
  overflow:visible;
}
.cardrg{
    display:grid;
  height:200px;
  width:250px;
  float:right;
}

.lt{
  margin-bottom:20px;
margin-right:10px;
}

.txt{

  margin-top:10px;
  margin-left:30px;
  font-size:15px;
  color:#303F9F;
}

.btn{
  float:right;
  margin-right:20px;
  margin-top:40px;
  background:#303F9F;
  border:none; 
  color:#fff;
  padding:10px;
  font-family: 'Questrial', sans-serif;
  transition: all 0.2s;
}

.btn:hover{
   cursor:pointer;
   background:#1A237E; 
}

.btn1{
  display:none;
  margin-right:20px;
  margin-top:40px;
  background:#d32f2f;
  border:none; 
  color:#fff;
  padding:10px;
  font-family: 'Questrial', sans-serif;
  transition: all 0.2s;
  float:right;
  outline:none;
}

.btn1:hover{
   cursor:pointer;
   background:#b71c1c; 
}

.text1{
  font-family: 'Questrial', sans-serif;
  width:25px;
  background:#B3E5FC;
  font-size:13px;
  display:grid;
  float:right;
  margin-right:50px;
}


.cardlf1{
  background:#ffcdd2;
  display:none;
  height:200px;
  width:200px;
  float:left;
  overflow:visible;
}

.cardrg1{
  display:none;
  height:200px;
  width:250px;
  float:right;
}

#icon{
  color:#303F9F;
  font-size:30px;
  display:block;
  margin-top:40px;
  margin-left:10px;
  float:left;
}

.text2{ 
  font-family: 'Questrial', sans-serif;
  width:22px;
  background:#E1BEE7;
  font-size:13px;
  display:grid;
  margin-top:49px;
  margin-left:5px;
  float:left;
}

#user{
  display:none;
}

.yazi{
  font-family: 'Questrial', sans-serif;
  margin-top:10px;
  margin-left:40px;
  font-size:12px;
  width:150px;
}

.txt1{
  margin-top:10px;
  margin-left:30px;
  font-size:20px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color:#303F9F;
}