
.profile-body{
margin: 25px;
}
.profile {
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #ddd;
    padding: 20px;
    z-index: 0;
    }
    
    .socialmedia {
        text-align: center;
    }
    
    .photo {
        margin: 25px;
    
    }
    
    .image--cover {
        width: 170px;
        height: 170px;
        border: #fff 3px solid;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: -40px;    
    }
    
    .username,
    .profession,
    .locationname,
    .descricao {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 1px;
        color:#000000;
    }
    
    .username {
     
        font-size: 20pt;
        margin: 2px
    }
    
    .profession {
        font-size: 14pt;
    }
    
    .locationname {
        font-size: 14pt;
        margin: 2px
    }
    
    .descricao {
        border-top: #969696 solid 1px;
        padding: 10px;
        font-size: 11pt;
        margin: 5px;
        text-align: left;
    }
   
    @keyframes gitBtnAnimation {
        0% {
            transform: rotate(45deg);
        }
        25% {
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(-45deg);
        }
        75% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
    .button-github
    {
        padding: 5px;
        font-size: 30pt;
        color: #000000;
        text-shadow: 0px -2px rgba(0,0,0,0);
        
        
    }
    .socialmedia a i {
        animation-name:gitBtnAnimation ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .socialmedia a i:hover {

        animation:none;
        transform: scale(1.5,1.5);
      }